@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

#slider img
{
  height: 100%;
  width: 100%;
}

#slider {
  position: absolute;
  overflow: hidden;
  border-radius: 4px;
  margin-right: 20px;
  width:1024px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1024px;
  height: 567px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev{
  position: absolute;
  top: 40%;
  z-index: 1;
  display: block;
  padding: 4% 10%;
  width: auto;
  height: auto;

  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_next {
  position: absolute;
  top: 40%;
  z-index: 1;
  display: block;
  padding: 4% 10%;
  width: auto;
  height: auto;

  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
  right: 0;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.1s ease;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}